.container-fluid {
   @media #{$medium} {
      padding-inline: 4rem;
   }
   @media #{$large} {
      padding-inline: 6.4rem;
   }
   @media #{$xlarge} {
      padding-inline: 8.8rem;
   }
   @media #{$xxlarge} {
      padding-inline: 11.2rem;
   }
   @media #{$xxxlarge} {
      padding-inline: 15.2rem;
   }
}

.wysiwyg {
   p {
      max-width: 80ch;
      margin-bottom: 0.8rem;
      @media #{$large} {
         margin-bottom: 1.6rem;
      }
   }

   ol,
   ul {
      margin-left: 1.8rem;
      margin-bottom: 0.8rem;
      @media #{$large} {
         margin-bottom: 1.6rem;
      }

      li {
         color: $color-txt-secondary;
         font-size: 1.6rem;
         line-height: 160%;
         margin-bottom: 0.4rem;

         @media #{$large} {
            font-size: 1.8rem;
         }
      }
   }

   a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 4px;
      text-decoration-color: $color-200;
      color: $color-300;
      transition: all 0.3s ease-in-out;

      &:hover {
         color: $color-400;
         text-decoration-color: $color-400;
      }

      strong {
         color: $color-300;
      }
   }

   strong {
      color: $color-txt-primary;
   }
}
