.gmap {
   .embed-container {
      position: relative;
      padding-bottom: 88%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

      @media #{$xxsmall} {
         padding-bottom: 68%;
      }

      @media #{$medium} {
         padding-bottom: 56.25%;
      }

      @media #{$xxlarge} {
         padding-bottom: 42%;
      }

      @media #{$xxxlarge} {
         padding-bottom: 38%;
      }
   }
   .embed-container iframe,
   .embed-container object,
   .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
