.recensioni{

    /* The Masonry Container */
    .masonry {
        column-gap: 4.8rem;
        column-count: 1;

        @media #{$medium}{
            column-count: 2;   
        }
        @media #{$xlarge}{
            column-count: 3;   
        }
    }
    
    /* The Masonry Brick */
    article {
        display: inline-block;
        margin-bottom: 4.8rem;

        .article__header{
            display: flex;
            align-items: center;
            margin-bottom: 2.4rem;

            .avatar{
                width: 4.8rem;
                height: 4.8rem;
                aspect-ratio: 1;
                border: solid 3px $color-300;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                margin-right: 1.6rem;

                @media #{$large}{
                    width: 6.4rem;
                    height: 6.4rem;
                    border-width: 4px;
                }
            }

            .name{
                font-weight: 400;
            }

            .date{
                font-size: 1.4rem;
                letter-spacing: 1px;
            }
        }

        .article__content{
            p{
                font-size: 1.7rem;

                &:before{
                    content: '“ ';
                }
                &:after{
                    content: ' ”';
                }
            }
        }
    }
}